/**
 *
 */

.status {
  margin-top: 10px;
  padding: 8px 15px;
}
.status .glyphicon, .status .fa {
  margin-right: 5px;
}

.gauge {
  height: 200px;
}
.gauge .temp {
  font-size: 24px;
  margin-bottom: 5px;
  text-align: center;
}

.plot {
  margin-top: 10px;
}

.stats {
  display: none;
  margin-top: 20px;
}

.formbox {
  margin-top: 10px;
}

.url_box {
  margin: 15px 0 10px;
}
